<nav id="navbarExample" class="navbar navbar-expand-lg fixed-top navbar-light" aria-label="Main navigation">
  <div class="container">
      <img src="/assets/images/logoSPA.png" style="height: 80px;" alt=""> <a class="navbar-brand logo-text" href="#">SPAssaporte</a>

      <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav ms-auto navbar-nav-scroll">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#header">Início</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#servicos">Serviços</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#detalhes">Detalhes</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#planos">Planos</a>
              </li>

            <li class="nav-item">
              <a class="nav-link" href="#parcerias">Parceiros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contato">Contato</a>
        </li>


          </ul>
          <span class="nav-item">
              <a class="btn-solid-sm" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Área do usuário</a>
          </span>
      </div>
  </div>
</nav>

<header id="header" class="header">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-xl-5">
              <div class="text-container">
                  <h1 class="h1-large">Encontre o serviço perfeito para ampliar seu bem-estar</h1>
                  <p class="p-large">Um benefício imperdível para sua empresa e seus colaboradores</p>
                  <a class="btn-solid-lg" href="#servicos">Saiba mais</a>
              </div>
          </div>
          <div class="col-lg-6 col-xl-7">
              <div class="image-container">
                  <img class="img-fluid" style="height: 800px;" src="assets/images/header.jpg" alt="mulher com rochas nas costas" />
              </div>
          </div>
      </div>
  </div>
</header>

<div id="servicos" class="cards-1 bg-gray">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <h2>Explore nossos serviços</h2>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12">


              <div class="card">
                  <div class="card-icon">
                      <!-- <span class="fas fa-headphones-alt"></span> -->
                      <span class="fas fa-tv"></span>
                  </div>
                  <div class="card-body">
                      <h5 class="card-title">Conexão com profissionais</h5>
                      <p>Encontre os melhores preços e profissionais aqui na plataforma para diversos tipos de serviços para sua saúde.</p>
                      <a class="read-more no-line" href="#">Área do usuário <span class="fas fa-long-arrow-alt-right"></span></a>
                  </div>
              </div>

              <div class="card">
                  <div class="card-icon red">
                      <!-- <span class="far fa-clipboard"></span> -->
                      <span class="fas fa-spa"></span>
                  </div>
                  <div class="card-body">
                      <h5 class="card-title">Variedade de serviços</h5>
                      <p>Encontre aqui serviços de SPA, massoterapia, aromaterapia, cabeleireiro, manicure, dentre outros por um preço imbatível!</p>
                      <a class="read-more no-line" href="https://gayabemestar.com.br/beneficios-cientificos-do-spa-para-a-sua-vida/" target="_blank">Saiba mais sobre os benefícios <span class="fas fa-long-arrow-alt-right"></span></a>
                  </div>
              </div>

              <div class="card">
                  <div class="card-icon green">
                      <span class="fas fa-user-md"></span>
                  </div>
                  <div class="card-body">
                      <h5 class="card-title">Saúde em primeiro lugar</h5>
                      <p>Também contamos com  psicólogos, personal trainers, fisioterapeutas, acupunturistas e mais! </p>
                  </div>
              </div>


          </div>
      </div>
  </div>
</div>
<div id="detalhes" class="basic-1">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-xl-7">
              <div class="image-container">
                  <img class="img-fluid" src="assets/images/deal.jpg" alt="alternative" />
              </div>
          </div>
          <div class="col-lg-6 col-xl-5">
              <div class="text-container">
                  <div class="section-title">FAÇA PARTE</div>
                  <h2>Investir no bem-estar dos seus funcionários é agregar valor ao seu negócio</h2>
                  <p>Entre em contato para negociar a parceria com a SPAssaporte e trazer melhores resultados para
                    a sua empresa.
                  </p>
                  <a class="btn-solid-reg" href="#contact">Entrar em contato</a>
              </div>
          </div>
      </div>
  </div>
</div>

<div id="planos" class="accordion-1">
  <div class="container">
      <div class="row">
          <div class="col-xl-12">
              <h2 class="h2-heading">Escolha o melhor plano para você!</h2>
              <p class="p-heading">Os planos são divididos em Bronze, Prata e Ouro. Estes possuem uma diferença de valor que possibilita uma maior capacidade de adesão para os mais diversos tipos de clientes. Entenda um pouco mais como plano funciona abaixo </p>
          </div>
      </div>
      <div class="row">
          <div class="col-xl-5">
              <div class="accordion" id="accordionExample">


                  <div class="accordion-item">
                      <div class="accordion-icon">
                          <span class="fas fa-money-bill"></span>
                      </div>
                      <div class="accordion-header" id="headingOne">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              Escolhe seu plano e faça seu cadastro
                          </button>
                      </div>
                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                          <div class="accordion-body">Determine qual plano melhor se encaixa com você e depois solicite a adesão ao benefício à sua empresa, eles enviarão o seu login na plataforma.</div>
                      </div>
                  </div>



                  <div class="accordion-item">
                      <div class="accordion-icon blue">
                          <span class="fas fa-tv"></span>
                      </div>
                      <div class="accordion-header" id="headingTwo">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Utilize a plataforma para controlar seus créditos
                          </button>
                      </div>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                          <div class="accordion-body">Realizando o login na plataforma, você pode checar quantos créditos você tem e o seu plano ativo.</div>
                      </div>
                  </div>



                  <div class="accordion-item">
                      <div class="accordion-icon purple">
                          <span class="fas fa-ticket-alt"></span>
                      </div>
                      <div class="accordion-header" id="headingThree">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              Gere seus vouchers para os serviços escolhidos
                          </button>
                      </div>
                      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                          <div class="accordion-body">Após ver as opções de serviços, você pode confirmar o interesse e um voucher será gerado com validade de 1 mês para uso. Vale lembrar que esse voucher não tem vínculo com o nome do colaborador, então você pode utilizá-lo para si ou até dar de presente para alguém da família.</div>
                      </div>
                  </div>






              </div>
          </div>
          <div class="col-xl-7">
              <div class="image-container">
                  <img class="img-fluid" src="assets/images/discount.jpg" alt="alternative"/>
              </div>
          </div>
      </div>
  </div>
</div>




<div class="cards-2 bg-gray">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <h2 class="h2-heading">Depoimentos de clientes</h2>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12">


              <div class="card">
                  <img class="quotes" src="assets/images/quotes.svg" alt="alternative" />
                  <div class="card-body">
                      <p class="testimonial-text">Sempre achei esses serviços muito caros, esse benefício me ajudou a ter acesso a eles.</p>
                      <div class="testimonial-author">Roe Smith</div>
                      <div class="occupation">Desenvolvedor, Natal/RN</div>
                  </div>
                  <div class="gradient-floor red-to-blue"></div>
              </div>



              <div class="card">
                  <img class="quotes" src="assets/images/quotes.svg" alt="alternative" />
                  <div class="card-body">
                      <p class="testimonial-text">Me sinto muito mais disposta para trabalhar e ficar com minha família no tempo livre após as sessões de acupuntura.</p>
                      <div class="testimonial-author">Sam Bloom</div>
                      <div class="occupation">Professora, Natal/RN</div>
                  </div>
                  <div class="gradient-floor blue-to-purple"></div>
              </div>



              <div class="card">
                  <img class="quotes" src="assets/images/quotes.svg" alt="alternative" />
                  <div class="card-body">
                      <p class="testimonial-text">Adoro poder utilizar os vouchers como presente para alguém da minha família, quando não quero gastá-los comigo.</p>
                      <div class="testimonial-author">Bill McKenzie</div>
                      <div class="occupation">Administrador, Natal/RN</div>
                  </div>
                  <div class="gradient-floor purple-to-green"></div>
              </div>
          </div>
      </div>
  </div>
</div>




<div class="slider-1" id="parcerias">
  <div class="container" >
      <div class="row">
          <div class="col-lg-12">
              <h4>Algumas empresas e profissionais que <span class="blue">confiam</span> no nosso serviço</h4>
              <hr class="section-divider" />


              <div class="slider-container">
                  <div class="swiper-container image-slider">
                      <div class="swiper-wrapper">
                          <div class="swiper-slide">
                              <img class="img-fluid" src="assets/images/customer-logo-1.png" alt="alternative" />
                          </div>
                          <div class="swiper-slide">
                              <img class="img-fluid" src="assets/images/customer-logo-2.png" alt="alternative" />
                          </div>
                          <div class="swiper-slide">
                              <img class="img-fluid" src="assets/images/customer-logo-3.jpg" alt="alternative" />
                          </div>
                          <div class="swiper-slide">
                              <img class="img-fluid" src="assets/images/customer-logo-4.jpg" alt="alternative" />
                          </div>
                          <div class="swiper-slide">
                              <img class="img-fluid" src="/assets/images/psi-pic.jpg" alt="alternative" />
                          </div>
                          <div class="swiper-slide">
                              <img class="img-fluid" src="/assets/images/logoSPA.png" alt="alternative" />
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div id="contact" class="form-1" id="contato">
  <div class="container">
      <div class="row">
          <div class="col-lg-6">
              <div class="text-container">
                  <div class="section-title">ENTRE EM CONTATO</div>
                  <h2>Solicite uma reunião conosco</h2>
                  <p>Solicite uma reunião para entender melhor os planos da SPAssaporte para sua empresa. Entenda os benefícios e os valores que ofertamos.</p>
                  <ul class="list-unstyled li-space-lg">
                      <li class="d-flex">
                          <i class="fas fa-square"></i>
                          <div class="flex-grow-1">Entre em contato a partir do formulário ao lado</div>
                      </li>
                      <li class="d-flex">
                          <i class="fas fa-square"></i>
                          <div class="flex-grow-1">Agendamos uma reunião</div>
                      </li>
                      <li class="d-flex">
                          <i class="fas fa-square"></i>
                          <div class="flex-grow-1">Definimos o contrato e fechamos o acordo</div>
                      </li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-6">
              <form>
                  <div class="form-group">
                      <input type="text" class="form-control-input" placeholder="Nome" required />
                  </div>
                  <div class="form-group">
                      <input type="email" class="form-control-input" placeholder="Email" required />
                  </div>
                  <div class="form-group">
                      <input type="text" class="form-control-input" placeholder="Empresa" required />
                  </div>
                  <div class="form-group">
                      <button type="submit" class="form-control-submit-button">Enviar</button>
                  </div>
              </form>


          </div>
      </div>
  </div>
</div>

<div class="footer bg-gray">
  <img class="decoration-circles" src="assets/images/decoration-circles.png" alt="alternative" />
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <h4>Se você quer acompanhar todas as novidades do SPAssaporte, além de dicas de saúde, nos acompanhe nas redes sociais</h4>
              <div class="social-container" >
                  <span class="fa-stack">
                      <a href="#your-link">
                          <i class="fas fa-circle fa-stack-2x"></i>
                          <i class="fab fa-facebook-f fa-stack-1x"></i>
                      </a>
                  </span>
                  <span class="fa-stack">
                      <a href="#your-link">
                          <i class="fas fa-circle fa-stack-2x"></i>
                          <i class="fab fa-twitter fa-stack-1x"></i>
                      </a>
                  </span>
                  <span class="fa-stack">
                      <a href="#your-link">
                          <i class="fas fa-circle fa-stack-2x"></i>
                          <i class="fab fa-pinterest-p fa-stack-1x"></i>
                      </a>
                  </span>
                  <span class="fa-stack">
                      <a href="#your-link">
                          <i class="fas fa-circle fa-stack-2x"></i>
                          <i class="fab fa-instagram fa-stack-1x"></i>
                      </a>
                  </span>
                  <span class="fa-stack">
                      <a href="#your-link">
                          <i class="fas fa-circle fa-stack-2x"></i>
                          <i class="fab fa-youtube fa-stack-1x"></i>
                      </a>
                  </span>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="copyright bg-gray">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-md-12 col-sm-12">
              <ul class="list-unstyled li-space-lg p-small">
                  <li><a href="#">Article detalhes</a></li>
                  <li><a href="#">Terms & Conditions</a></li>
                  <li><a href="#">Privacy Policy</a></li>
              </ul>
          </div>
          <div class="col-lg-3 col-md-12 col-sm-12">
              <p class="p-small statement">Copyright © <a href="#">SPAssaporte</a></p>
          </div>

          <div class="col-lg-3 col-md-12 col-sm-12">
              <p class="p-small statement">Distribuído por <a href="https://therichpost.com/" target="_blank">SPAssaporte</a></p>
          </div>
      </div>
  </div>
</div>

<button id="myBtn">
  <img src="assets/images/up-arrow.png" alt="alternative" />
</button>
